

#att{
    color: white;
}

.main{
   display:flex;
   flex-direction: column;
   justify-content: center;
   background: url("./background.jpg") no-repeat fixed 50% ;
   background-size: cover;
   background-position: center;
   height:520px;
   color: white;
}
#logo{
    font-family: 'Rubik Gemstones', cursive;
    /* font-size: larger; */
    font-weight: 300;
}
.carousel-inner{
    width: 200px;
    margin-top: 30px;
     /* border-radius: 80px; */

}

#carouselExampleCaptions{
    width: 900px;
    margin:auto;
   
}
.carousel-item img{
    width:200px;
    height: 420px;
    
    
    
}

p{
    text-align: center;
    font-family: cursive;
}


#jug{
    text-decoration: none;
}
